<h1 class="text-center text-primary mb-4">Crear Nueva Muestra</h1>

<div class="container mt-4 shadow-lg p-5 bg-light rounded">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_with model: @sample, local: true, class: "needs-validation" do |form| %>
    <div class="mb-4">
      <%= form.label :code, 'Código de la Muestra', class: "form-label fw-bold text-dark" %>
      <%= form.text_field :code, class: "form-control border-primary", placeholder: 'Ejemplo: M001' %>
    </div>

    <div class="mb-4">
      <%= form.label :results, 'Resultados', class: "form-label fw-bold text-dark" %>
      <%= form.text_area :results, class: "form-control border-primary", placeholder: 'Ingrese los resultados...' %>
    </div>

    <% if current_user.laboratorista? %>
      <div class="mb-4">
        <%= form.label :user_id, 'Asignar a Cliente', class: "form-label fw-bold text-dark" %>
        <%= form.collection_select :user_id, User.where(role: :cliente), :id, :email, { prompt: 'Seleccione un cliente' }, class: "form-select border-primary" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= form.submit 'Crear Muestra', class: "btn btn-success px-4 py-2 fw-bold" %>
      <%= link_to 'Volver a la Lista de Muestras', samples_path, class: "btn btn-secondary px-4 py-2 fw-bold ms-3" %>
    </div>
  <% end %>
</div>

