<div id="<%= dom_id servicio %>">
  <p>
    <strong>Codigo servicio:</strong>
    <%= servicio.codigo_servicio %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= servicio.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= servicio.descripcion %>
  </p>

  <p>
    <strong>Costo base:</strong>
    <%= servicio.costo_base %>
  </p>

  <p>
    <strong>Laboratorista:</strong>
    <%= servicio.laboratorista_id %>
  </p>

</div>
