<div id="<%= dom_id informe %>">
  <p>
    <strong>Codigo solicitud:</strong>
    <%= informe.codigo_solicitud %>
  </p>

  <p>
    <strong>Laboratorista:</strong>
    <%= informe.laboratorista_id %>
  </p>

  <p>
    <strong>Gerente:</strong>
    <%= informe.gerente_id %>
  </p>

  <p>
    <strong>Fecha generacion:</strong>
    <%= informe.fecha_generacion %>
  </p>

  <p>
    <strong>Fecha firma gerente:</strong>
    <%= informe.fecha_firma_gerente %>
  </p>

  <p>
    <strong>Fecha envio cliente:</strong>
    <%= informe.fecha_envio_cliente %>
  </p>

  <p>
    <strong>Archivo:</strong>
    <%= informe.archivo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= informe.estado %>
  </p>

</div>
