<div id="<%= dom_id notificacion %>">
  <p>
    <strong>Cliente:</strong>
    <%= notificacion.cliente_id %>
  </p>

  <p>
    <strong>Mensaje:</strong>
    <%= notificacion.mensaje %>
  </p>

  <p>
    <strong>Fecha envio:</strong>
    <%= notificacion.fecha_envio %>
  </p>

  <p>
    <strong>Informe:</strong>
    <%= notificacion.informe_id %>
  </p>

</div>
