<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seguimiento de su Muestra</title>
  <style>
    body {
      font-family: 'Newsreader', serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f7f7f7;
    }

    .login-container {
      background-color: #e7f5e9;
      padding: 40px;
      border-radius: 25px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      text-align: center;
      width: 400px;
    }

    .login-container h1 {
      font-size: 2rem;
      color: #005f35;
      margin-bottom: 25px;
    }

    .login-container img {
      width: 120px;
      height: 120px;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
      color: #333;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }

    .btn-primary {
      background-color:rgb(85, 133, 103);
      color: white;
      border: none;
      padding: 15px;
      font-size: 1.2rem;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-primary:hover {
      background-color: #29573c;
    }

    .forgot-password {
      margin-top: 15px;
    }

    .forgot-password a {
      text-decoration: none;
      color: #50A371;
      font-size: 1rem;
    }

    .forgot-password a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="login-container">
    
    <h1>Seguimiento de su Muestra</h1>

    <%= form_with url: authenticate_client_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.label :codigo_muestra, 'Código : ' %>
        <%= f.text_field :codigo_muestra, class: "form-control", placeholder: "Ingrese su código de muestra" %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Contraseña : ' %>
        <%= f.password_field :password, class: "form-control", placeholder: "Ingrese su contraseña" %>
      </div>
      <div>
        <%= f.submit 'Ingresar', class: "btn-primary" %>
      </div>
    <% end %>

    <div class="forgot-password">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</body>
</html>
